<!--Cria uma div para exibir as informações do produto-->
<!--<div>
    <h3>Produto: {{ produto }}</h3>
    <p>Preço: R$ {{ preco }}</p>
</div>-->
<!--<div>
   @if (mostrarProduto){
    <h3> Produto: {{ produto }}</h3>
   }
   @if (mostrarPreco){
    <p>Preço: R$ {{ preco }}</p>
   }

</div>-->
<mat-card class="produto">
<mat-card-header>

    <mat-card-title>{{ nome |uppercase}}</mat-card-title>

</mat-card-header>

    

    <mat-card-content>

    <p>{{ preco | precoFormatado}}</p>
    
</mat-card-content>
    
   <mat-card-actions>
    
    <button mat-stroked-button color="accent" (click)="selecionarProduto()">
        Selecionar {{ nome }}
    </button>

   
    <button mat-raised-button color="primary" (click)="adicionaAoCarrinho()">  
          Adicinar ao carrinho
    </button>
   </mat-card-actions>


</mat-card>
<!-- adicionei outro botão // poduto ts restruturou o codigo  -->