<!--Cria uma div para exibir as informações do produto-->
<!--<div>
    <h3>Produto: {{ produto }}</h3>
    <p>Preço: R$ {{ preco }}</p>
</div>-->
<!--<div>
   @if (mostrarProduto){
    <h3> Produto: {{ produto }}</h3>
   }
   @if (mostrarPreco){
    <p>Preço: R$ {{ preco }}</p>
   }

</div>-->
<div class="produto">

    <h3>{{ nome | uppercase}}</h3>
    <p>{{ preco | precoFormatado}}</p>
    
    <button (click)="selecionarProduto()">
        Selecionar {{ nome }}
    </button>

    <button (click)="adicionaAoCarrinho()">  
          Adicinar ao carrinho
    </button>
</div>
