.grid-produtos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

/*BreakPoints: Mobile (android e iOS) e tablet: ate 600px*/
@media (min-width:600px){
    .grid-produtos {
        grid-template-columns: repeat(2,1fr);/* abaixo de 600px Mobile, 1 coluna | em 600px para tablet, 2 coluna */
    }
}
/*Breakpoints: Desktop ate 900px*/
@media(win-width:900px) {
    .grid-produtos{
        grid-template-columns: repeat(3,1fr);/* em 900px, cria */
    }
}