
<h2>Produtos:</h2>

<!-- Estado 1: Loanding-->
 @if(carregando()){
    <p>Carregando produtos...</p>
 }

 <!-- Estado 2: Erro-->
  @if (erro()){
    <p style="color: red;">
    {{erro()}} </p>
    <button (click)="carregarProdutos()">Tentar Novamente</button>
  }
  <!-- Estado 3: Sucesso-->
   @if(!carregando() && !erro()){
    <p>Total de Produtos: {{ totalProdutos() }}</p>
   



<hr>

@for(item of produtos(); track $index){
    <app-produto
        [nome] = "item.nome"
        [preco] ="item.preco"
        (produtoSelecionado)="exibirProduto ($event)"
        (produtoAdiconado)="adicionarAoCarrinho($event)"

        ></app-produto>
        <!-- <button (click)="adicionarAoCarrinho(item)">Adicionar ao Carrinho</button> -->
}
   }
<hr>
<h2>Carrinho</h2>
@for (item of carrinho(); track $index){
    <p>{{ item.nome | uppercase}} - {{ item.preco | precoFormatado }}</p>
}
<p><strong>Itens no carrinho: {{ quantidadeCarrinho() }}</strong></p>
<p><strong>Total no carrinho: {{ totalCarrinho() | precoFormatado }}</strong></p> 





<!-- <h2>produtos:</h2>
@if (carregando()) {
    <p>carregando produto...</p>
}
@if (!carregando()) {
    @for (item of produtos(); track item.nome) {
        <app-produto
        [nome]="item.nome"
            [preco]= "item.preco"
            (produtoSelecionado)="exibirProduto($event)">
        </app-produto>
        <button (click)="adicionarAoCarrinho(item)">adiciona ao Carrinho</button>
    }
} -->
<!-- <h2>
    Produto Selecionado:
    @if (produtoSelecionado()){
        <strong style="color:green;">
            {{ produtoSelecionado() | uppercase }}
        </strong>
    }@else {
        <span style="color:rgb(255, 0, 0);"> Nenhum </span>
    }
</h2>


@for (item of produtos(); track item){
    <app-produto 
     [nome] = "item.nome"
    [preco] = "item.preco"
    (produtoSelecionado) = exibirProduto($event)
    ></app-produto>
    <button (click)="adicionarAoCarrinho(item)">Adicionar ao carrinho</button>
}
<p>
    <button (click)="adicionarProduto()">Adicionar Produto</button>
</p>
<h2>Total de produtos {{ totalProdutos() }}</h2>
<h3>Valor total: {{valorTotal() | precoFormatado}}</h3>
<P>
    <button (click)="substituirProdutos()">Substituir Produto</button>
</P>
<hr>
<h2>Carrinho</h2>
@for (item of carrinho(); track $index){
    <p>{{ item.nome | uppercase}} - {{ item.preco | precoFormatado }}</p>
}
<p><strong>Itens no carrinho: {{ quantidadeCarrinho() }}</strong></p>
<p><strong>Total no carrinho: {{ totalCarrinho() | precoFormatado }}</strong></p> -->